{% extends "base.html" %}
{% block content %}
<section class="intro">
  <h1 class="intro__header">Montáž kuchyňské linky a přípravné práce</h1>
  <p class="intro__subheader">Nainstalovali jsme přes 1000 kuchyní</p>
  <button class="button button_style_action intro__button button_type_request">Žádost o cenovou nabídku</button>
  <p class="intro__note">* Poskytujeme komplexní služby se zárukou: montáž kuchyňské linky od instalace elektrických zásuvek
    přes sestavení linky až po zapojení elektrických spotřebičů!</p>
</section>
<section class="benefits">
  <ul class="benefits__list">
    <li class="benefits__item">
      <img src="./images/benefits/car.png" alt="" class="benefits__image">
      <h3 class="benefits__header">Operativně a kvalitně</h3>
      <p class="benefits__subheader">Všechny práce provádíme kvalitně a v optimálním termínu.</p>
    </li>
    <li class="benefits__item">
      <img src="./images/benefits/guarantee.png" alt="" class="benefits__image">
      <h3 class="benefits__header">Záruka na všechny práce</h3>
      <p class="benefits__subheader">Máme finanční odpovědnost a dáváme záruku na provedené práce.</p>
    </li>
    <li class="benefits__item">
      <img src="./images/benefits/cleanliness.png" alt="" class="benefits__image">
      <h3 class="benefits__header">Čistota a ekologie</h3>
      <p class="benefits__subheader">Uklízíme stavební odpad a k ekologii přistupujeme šetrně.</p>
    </li>
    <li class="benefits__item">
      <img src="./images/benefits/installation.png" alt="" class="benefits__image">
      <h3 class="benefits__header">3 v 1</h3>
      <p class="benefits__subheader">Máme licenci na elektroinstalační práce, děláme sítě a zapojujeme techniku.</p>
    </li>
  </ul>
</section>
<section class="guarantee">
  <img src="./images/guarantee/furniture.JPG" alt="" class="guarantee__image">
  <div class="guarantee__text-container">
    <h2 class="guarantee__header">Plná záruka na námi smontované kuchyně!</h2>
    <ul class="guarantee__list">
      <li class="guarantee__item">Neseme finanční zodpovědnost za materiály a zapojované spotřebiče. Naši odborníci mají
        pojištění na provádění prací.
      </li>
      <li class="guarantee__item">Po dokončení díla poskytujeme záruku na provedené práce se zachováním záruky původních
        výrobců.
      </li>
      <li class="guarantee__item">Nejlepší zárukou a reklamou jsou spokojení zákazníci a jejich doporučení. Máme už přes 250
        šťastných klientů.
      </li>
    </ul>
  </div>
</section>
<section class="how-it-work">
  <h2 class="how-it-work__header">Jak práce probíhají</h2>
  <ol class="how-it-work__list">
    <li class="how-it-work__item">Spojíte se s námi způsobem, který je vám pohodlný. Posoudíme podrobnosti a pošleme k vám
      pracovníka kvůli odsouhlasení prací.
    </li>
    <li class="how-it-work__item">Pokud budete s naší nabídkou spokojeni, uzavřeme smlouvu, zaplatíte nám zálohu a naši
      pracovníci začnou pracovat.
    </li>
    <li class="how-it-work__item">Až bude dílo dokončeno, podepíšete nám předávací protokol, získáte záruku a doplatíte
      zbytek ceny. Stáváme se tím dobrými přáteli.
    </li>
  </ol>
</section>
<section class="about-price">
  <div class="about-price__text-container">
    <h2 class="about-price__header">Z čeho se skládá cena montáže kuchyňské linky a přípravných prací?</h2>
    <p class="about-price__paragraph">Cena každé kuchyně je individuální, proto i cenu montáže a přípravných prací počítáme
      pro každý projekt samostatně.</p>
    <ul class="about-price__list">
      <li class="about-price__item">Existují základní ceny od výrobců kuchyní a těmi se při výpočtu nákladů řídíme s
        přihlédnutím ke specifikům každé linky.
      </li>
      <li class="about-price__item">Cenu ovlivňuje i počet elektrických zásuvek a jejich vzdálenost od rozvaděče, stejně tak
        vývody vody a kanalizace.
      </li>
      <li class="about-price__item">Základní výpočty děláme podle délkových metrů kuchyňské linky a počtu spodních i horních
        skříněk.
      </li>
    </ul>
    <p class="about-price__paragraph">Nabídneme Vám osobní a podrobnou cenovou nabídku a věříme, že Vám bude vyhovovat.</p>
  </div>
  <div class="about-price__button-container">
    <div class="about-price__button-background">
      <h3 class="about-price__button-header">Zavoláme vám</h3>
      <p class="about-price__button-text">Nechte nám na sebe kontakt a zdarma vám spočítáme cenu prací a odpovíme na vaše
        otázky</p>
      <button class="button button_style_action about-price__button button_type_request">Zavolejte mi</button>
    </div>
  </div>
</section>
<section class="options">
  <h1 class="options__header">Varianty montáže a příprav</h1>
  <p class="options__subheader">Můžete si objednat i libovolnou z těchto variant samostatně</p>
  <ol class="options__list">
    <li class="options__item">
      <h3 class="options__item-header">Přípravné práce</h3>
      <p class="option__item-text">Důležité je si dopředu naplánovat optimální počet zásuvek, umístění přívodu vody a
        vyústění kanalizace. Pro tyto práce máme nezbytné licence podle platných vyhlášek a poskytujeme na ně záruku.</p>
      <img src="./images/options/stage-1.png" alt="" class="option__image">
      <button class="button button_style_default option__button" data-stage="1">Zobrazit výpočet</button>
      <p class="option__information option__information_type_warning">Máme nezbytné licence pro provádění elektroinstalačních
        prací!</p>
    </li>
    <li class="options__item">
      <h3 class="options__item-header">Montáž kuchyně (nábytku)</h3>
      <p class="option__item-text">Sem patří smontování a usazení nábytkové části kuchyňské linky. Nepatří sem zapojení
        sanitární techniky a elektrických spotřebičů. Tato varianta nezahrnuje přípravné práce.</p>
      <img src="./images/options/stage-2a.png" alt="" class="option__image">
      <button class="button button_style_default option__button" data-stage="2a">Zobrazit výpočet</button>
    </li>
    <li class="options__item">
      <h3 class="options__item-header">Komplexní montáž a zapojení kuchyně</h3>
      <p class="option__item-text">Tato varianta zahrnuje montáž kuchyňské linky „na klíč", tj. včetně zapojení sanitární
        techniky a elektrických spotřebičů. Nezahrnuje přípravné práce.</p>
      <img src="./images/options/stage-2b.png" alt="" class="option__image">
      <button class="button button_style_default option__button" data-stage="2b">Zobrazit výpočet</button>
      <p class="option__information option__information_type_attention">Ušetřete tím, že si u nás objednáte komplexní služby
        zahrnující přípravné práce.</p>
    </li>
  </ol>
  <button class="button button_style_action button_type_request">Požádat o cenovou nabídku pro moji kuchyni</button>
</section>
<section class="examples">
  <h2 class="examples__header">Příklady cen montáže kuchyní a přípravných prací</h2>
  <p class="examples__subheader">Do ceny přípravných prací se nezapočítávají materiály, ty si vybírá zákazník podle svých
    preferencí.</p>
  <ul class="examples__list">
    <li class="example">
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž nábytku</h3>
        <p class="example__price-value">5 500 Kč</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž se zapojením spotřebičů a sanity</h3>
        <p class="example__price-value">8 800 Kč*</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Přípravné práce</h3>
        <p class="example__price-value">6 100 Kč</p>
      </div>
      <p class="example__production-time">*Délka práce 2-3 dny</p>
      <img src="./images/example/ikea-logo.png" alt="" class="example__logo">
      <img src="./images/example/ikea.png" alt="" class="example__image">
    </li>
    <li class="example">
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž nábytku</h3>
        <p class="example__price-value">5 000 Kč</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž se zapojením spotřebičů a sanity</h3>
        <p class="example__price-value">8 000 Kč*</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Přípravné práce</h3>
        <p class="example__price-value">6 250 Kč</p>
      </div>
      <p class="example__production-time">*Délka práce 2-3 dny</p>
      <img src="./images/example/obi-logo.png" alt="" class="example__logo">
      <img src="./images/example/obi.png" alt="" class="example__image">
    </li>
    <li class="example">
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž nábytku</h3>
        <p class="example__price-value">8 500 Kč</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž se zapojením spotřebičů a sanity</h3>
        <p class="example__price-value">12 000 Kč*</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Přípravné práce</h3>
        <p class="example__price-value">8 200 Kč</p>
      </div>
      <p class="example__production-time">*Délka práce 2-3 dny</p>
      <img src="./images/example/mobelix-logo.png" alt="" class="example__logo">
      <img src="./images/example/mobelix.png" alt="" class="example__image">
    </li>
    <li class="example">
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž nábytku</h3>
        <p class="example__price-value">6 500 Kč</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž se zapojením spotřebičů a sanity</h3>
        <p class="example__price-value">9 600 Kč*</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Přípravné práce</h3>
        <p class="example__price-value">8 000 Kč*</p>
      </div>
      <p class="example__production-time">*Délka práce 2-3 dny</p>
      <img src="./images/example/siko-logo.png" alt="" class="example__logo">
      <img src="./images/example/siko.png" alt="" class="example__image">
    </li>
    <li class="example">
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž nábytku</h3>
        <p class="example__price-value">9 400 Kč</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž se zapojením spotřebičů a sanity</h3>
        <p class="example__price-value">14 000 Kč*</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Přípravné práce</h3>
        <p class="example__price-value">8 600 Kč</p>
      </div>
      <p class="example__production-time">*Délka práce 2-3 dny</p>
      <img src="./images/example/okay-logo.png" alt="" class="example__logo">
      <img src="./images/example/okay.png" alt="" class="example__image">
    </li>
    <li class="example">
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž nábytku</h3>
        <p class="example__price-value">10 000 Kč</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž se zapojením spotřebičů a sanity</h3>
        <p class="example__price-value">16 000 Kč*</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Přípravné práce</h3>
        <p class="example__price-value">9 350 Kč*</p>
      </div>
      <p class="example__production-time">*Délka práce 2-3 dny</p>
      <img src="./images/example/sykora-logo.png" alt="" class="example__logo">
      <img src="./images/example/sykora.png" alt="" class="example__image">
    </li>
    <li class="example">
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž nábytku</h3>
        <p class="example__price-value">5 000 Kč</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž se zapojením spotřebičů a sanity</h3>
        <p class="example__price-value">7 800 Kč*</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Přípravné práce</h3>
        <p class="example__price-value">5 350 Kč*</p>
      </div>
      <p class="example__production-time">*Délka práce 2-3 dny</p>
      <img src="./images/example/baumax-logo.png" alt="" class="example__logo">
      <img src="./images/example/baumax.png" alt="" class="example__image">
    </li>
    <li class="example">
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž nábytku</h3>
        <p class="example__price-value">4 500 Kč</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž se zapojením spotřebičů a sanity</h3>
        <p class="example__price-value">7 000 Kč*</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Přípravné práce</h3>
        <p class="example__price-value">5 350 Kč*</p>
      </div>
      <p class="example__production-time">*Délka práce 2-3 dny</p>
      <img src="./images/example/bauhaus-logo.png" alt="" class="example__logo">
      <img src="./images/example/bauhaus.png" alt="" class="example__image">
    </li>
    <li class="example">
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž nábytku</h3>
        <p class="example__price-value">4 800 Kč</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž se zapojením spotřebičů a sanity</h3>
        <p class="example__price-value">7 500 Kč*</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Přípravné práce</h3>
        <p class="example__price-value">1 500 Kč*</p>
      </div>
      <p class="example__production-time">*Délka práce 2-3 dny</p>
      <img src="./images/example/xxxlutz-logo.png" alt="" class="example__logo">
      <img src="./images/example/xxxlutz.png" alt="" class="example__image">
    </li>
    <li class="example">
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž nábytku</h3>
        <p class="example__price-value">4 800 Kč</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž se zapojením spotřebičů a sanity</h3>
        <p class="example__price-value">7 500 Kč*</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Přípravné práce</h3>
        <p class="example__price-value">4 700 Kč*</p>
      </div>
      <p class="example__production-time">*Délka práce 2-3 dny</p>
      <img src="./images/example/hornbach-logo.png" alt="" class="example__logo">
      <img src="./images/example/hornbach.png" alt="" class="example__image">
    </li>
    <li class="example">
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž nábytku</h3>
        <p class="example__price-value">5 000 Kč</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Montáž se zapojením spotřebičů a sanity</h3>
        <p class="example__price-value">7 800 Kč*</p>
      </div>
      <div class="example__price-container">
        <h3 class="example__price-header">Přípravné práce</h3>
        <p class="example__price-value">5 750 Kč*</p>
      </div>
      <p class="example__production-time">*Délka práce 2-3 dny</p>
      <img src="./images/example/kitchen.png" alt="" class="example__image">
    </li>
  </ul>
  <button class="button button_style_action example__button button_type_request">Požádat o cenovou nabídku pro moji kuchyni
  </button>
</section>
<section class="about-us">
  <h2 class="about-us__header">O společnosti</h2>
  <div class="about-us__text-container">
    <h3 class="about-us__company-name">KitchenMaster</h3>
    <p class="about-us__company-description">KitchenMaster® je tým profesionálů, kteří mají velké zkušenosti s montáží
      kuchyní, certifikáty pro elektrotechnické práce a přípravu prostoru pro instalaci kuchyní: sekání drážek ve stěnách a
      zazdívání děr, instalaci elektrických rozvodů, montáž zásuvek a vypínačů a instalaci rozvodů vody a kanalizace.</p>
  </div>
  <ul class="about-us__list">
    <li class="about-us__item">Cenu domlouváme dopředu. Neexistují u nás žádné skryté náklady.</li>
    <li class="about-us__item">Máme pojištění na všechny prováděné práce a zaručujeme, že nedojde k poškození použitých
      materiálů a techniky.
    </li>
    <li class="about-us__item">Nabízíme libovolný způsob platby, včetně platebních karet a kryptoměn.</li>
  </ul>
  <section class="speech">
    <figure class="speech__text">
      <blockquote class="speech__quote">
        <p class="speech__paragraph">Kuchyně montujeme od roku 2012 a máme zkušenosti jak s montáží nejpopulárnějších kuchyní
          značek IKEA, XXXLutz, MÖBELIX apod., tak s individuálními designérskými projekty i levnou vlastní výrobou.</p>
        <p class="speech__paragraph">Důležitou součástí naší činnosti jsou přípravné práce, bez nichž montáž kuchyně ani
          nejde začít. Vše pro vás zaměříme a naceníme.
          Všechny práce děláme pečlivě a spolehlivě.</p>
        <p class="speech__paragraph">Připravíme rozpočet, uzavřeme smlouvu a po dokončení práce podepíšeme předávací protokol
          a vystavíme záruční list.</p>
        <p class="speech__paragraph">Na veškeré práce máme pojištění, takže se nemusíte bát poškození vašich materiálů a
          zařízení.</p>
        <p class="speech__paragraph">Obrací se na nás jak soukromí zákazníci, tak firmy.</p>
        <p class="speech__paragraph">Na naše služby dáváme záruku a největší zárukou jsou naši spokojení klienti, kteří
          nadále využívají našich služeb a doporučují nás svým přátelům.</p>
        <p class="speech__paragraph">Naším mottem je „Profesionalita v co nejkratším termínu a za odpovídající cenu!"</p>
      </blockquote>
      <figcaption class="speech__author"><span class="speech__author-position">Starší mistr</span> <span
        class="speech__author-name">Alexandr</span></figcaption>
    </figure>
    <img src="./images/speech/photo.png" alt="" class="speech__image">
  </section>
</section>
<section class="certificates">
  <h2 class="certificates__header">Licence a certifikáty</h2>
  <ul class="certificates__grid">
    <li class="certificates__item">
      <a href="#" class="certificates__link">
        <img src="./images/certificates/doc-1.jpg" alt="" class="certificates__image">
      </a>
    </li>
    <li class="certificates__item">
      <a href="#" class="certificates__link">
        <img src="./images/certificates/doc-2.jpg" alt="" class="certificates__image">
      </a>
    </li>
    <li class="certificates__item">
      <a href="#" class="certificates__link">
        <img src="./images/certificates/doc-3.jpg" alt="" class="certificates__image">
      </a>
    </li>
  </ul>
</section>
<section class="our-works">
  <h2 class="our-works__header">Naše realizace</h2>
  <ul class="our-works__grid">
    <li class="work"><a href="#" class="work__link"><img class="work__image" src="./images/work/baumax.jpg" alt=""></a></li>
    <li class="work"><a href="#" class="work__link"><img class="work__image" src="./images/work/hornbach.jpg" alt=""></a></li>
    <li class="work"><a href="#" class="work__link"><img class="work__image" src="./images/work/ikea.jpg" alt=""></a></li>
    <li class="work"><a href="#" class="work__link"><img class="work__image" src="./images/work/mobelix.jpg" alt=""></a></li>
    <li class="work"><a href="#" class="work__link"><img class="work__image" src="./images/work/siko.jpg" alt=""></a></li>
    <li class="work"><a href="#" class="work__link"><img class="work__image" src="./images/work/xxxlutz.jpg" alt=""></a></li>
  </ul>
</section>
<section class="questions">
  <ul class="questions__list">
    <li class="question">
      <h3 class="question__header">Zůstane zachována záruka od výrobce kuchyně nebo spotřebičů, když je montuje jiná
        firma?</h3>
      <svg class="question__toggle-icon" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="#222222"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g></svg>
      <div class="question__answer ">
        <p class="question__paragraph">Všechny záruky zůstávají zachovány bez ohledu na firmu, která kuchyň montuje nebo
          instaluje spotřebiče dle instrukcí výrobce. Potvrzení o tom najdete ve smluvních podmínkách, které dostanete od
          výrobce nebo prodejce při koupi kuchyně či spotřebičů.</p>
        <p class="question__paragraph">Naše firma nese finanční odpovědnost za dodržování instrukcí výrobce.</p>
        <p class="question__paragraph">Jsme pojištěni, a vy tak můžete zůstat klidní.</p>
      </div>
    </li>
    <li class="question">
      <h3 class="question__header">Bude rozdíl v ceně, když si pořídím kuchyňskou linku od jedné značky a spotřebiče od
        jiné?</h3>
      <svg class="question__toggle-icon" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="#222222"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g></svg>
      <div class="question__answer">
        <p class="question__paragraph">Jde o velmi častou otázku, protože existuje velké množství značek kvalitních domácích
          spotřebičů. Rozměry si však ne vždy ideálně odpovídají. Díky našim velkým zkušenostem ale můžeme vestavět domácí
          spotřebiče libovolné značky.</p>
        <p class="question__paragraph">Nepožadujeme příplatek za to, že byste měli nábytek od jedné značky a spotřebiče od
          jiné.</p>
      </div>
    </li>
    <li class="question">
      <h3 class="question__header">Můžete udělat jen rozvody elektřiny a vody? Poskytujete na to záruku?</h3>
      <svg class="question__toggle-icon" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="#222222"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g></svg>
      <div class="question__answer">
        <p class="question__paragraph">Ano.</p>
      </div>
    </li>
  </ul>
</section>
{% endblock %}