<ul class="contacts footer__list">
  <li class="contacts__item footer__item">+420 776 787 148 <a href="mailto:info@kuchynemontaz.cz"
                                                              class="contacts__email footer__email">info@kuchynemontaz.cz</a>
  </li>
  <li class="contacts__item footer__item">Po-Ne od 7:00 do 19:00</li>
  <li class="contacts__item footer__item">
    <p class="contacts__paragraph footer__paragraph">Successful Experience s.r.o.</p>
    <p class="contacts__paragraph footer__paragraph">Losenická 1602/3, Uhříněves, 104 00 Praha</p>
    <p class="contacts__paragraph footer__paragraph">IČO 08483469</p>
  </li>
</ul>