<a href="#">
  <img class="header__logo" src="./images/header/logo.JPG" alt="Logo"></a>
<ul class="header__contacts">
  <li class="header__contacts-item">
    <a href="#" class="header__contacts-link">+420 776 787 148</a></li>
  <li class="header__contacts-item">
    <a href="#" class="header__contacts-link">
      <button class="button button_style_contact button_type_request">Zavolejte mi</button>
    </a>
  </li>
</ul>
<div class="menu">
  <input class="menu__toggle" id="menu__toggle" type="checkbox">
  <label class="menu__btn" for="menu__toggle">
    <span class="menu__hamburger"></span>
  </label>
  <ul class="menu__list">
    <li class="menu__item"><a href="#" class="menu__link">Cena</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Příklady</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Naše realizace</a></li>
    <li class="menu__item"><a href="#" class="menu__link">O nás</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Kontakty</a>
    </li>
  </ul>
</div>
<select class="lang-switcher" name="lang-switcher">
  <option class="lang-switcher__item" value="ru">RU</option>
  <option class="lang-switcher__item" value="cz" selected>CZ</option>
</select>